* {
    margin: 0;
    padding: 0;
}

/* Header Section css */
.head {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;

}

.head>p {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}

.head>div {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0px 10px;
    width: 116px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}

/* Banner Section css */
.banner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;

}

.banner-main {
    max-width: 1280px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 0 40px;
}


.ban-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ban-left>p {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.ban-left>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.ban-left>div {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;

}

/* The Vision of Future css */
.future {
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;
    margin-bottom: 30px;
}

.future-main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 0 0;
    gap: 40px;
}

.title>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}

.title>p,
.text1 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-section {
    display: flex;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    gap: 24px;
}

.btn1,
.btn2,
.btn3 {
    border-radius: 8px;
    width: 122px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.btn1 {
    background: rgb(84, 144, 245);
}

.btn2 {
    background: rgb(9, 161, 92);
}

.btn3 {

    background: rgb(255, 194, 57);
}

.card1,
.card2 {
    background: rgba(84, 144, 245, 0.2);
}

.card3 {
    background: rgb(247, 235, 207);
}

/* Recent News css */
.news {
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;
    margin-bottom: 30px;
}

.news-main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 0 0;
    gap: 40px;
}



.recent-card {
    display: flex;
    flex-direction: column;
    max-width: 1280px;

}

.hcard {
    display: flex;
    gap: 32px;
    margin: 24px 0px;
    padding: 48px;
    border-radius: 24px;
    background: rgba(212, 202, 202, 0.347);
}

.date-time {
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
}

.img1 {
    border-radius: 30px;
}

.hacrd-right>h1 {
    padding-bottom: 30px;
}

.hacrd-right>img {
    padding-bottom: 30px;
}

.hacrd-right>.text1 {
    padding-bottom: 30px;
}

.hacrd-right>.btn2 {
    margin-bottom: 30px;
}

.hard>h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.hcard2 {
    flex-direction: row-reverse;
}

/* donate section css */

.donate {
    max-width: 1600px;
    height: 100px;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;
    margin-bottom: 30px;
    padding: 250px 0;
}

.donate-main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    gap: 40px;
    height: 55px;
}



.don1 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-bottom: 20px;
}

.don2 {
    display: flex;
    justify-content: space-around;
    gap: 65px;
}

.dcard {

    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin: 32px 0px;
    background: rgb(246, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 128px;

    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.d2 {
    background-color: rgb(198, 228, 214);
}

.input1 {
    border: none;
    display: flex;
}

.input1>input {

    background: rgb(215, 215, 215);
    width: 1032px;
    height: 64px;
    box-sizing: none;
    border-radius: 10px;
    border: none;
    text-align: center;

}

.btn5 {
    width: 151px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;

    width: 151px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;
    margin: px 0px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
}